---
---

@import "{{ site.theme }}";

.page-header {
    background-image: url("/assets/img/logo.png");
    background-repeat: no-repeat;
    background-color: #393b45;
    background-position: center;
    display: none;
}

.project-name {
    display: none;
}

@media screen and (min-width: 64em) {
    .page-header {
        padding: 11rem 6rem;
    }
}

@media screen and (max-width: 64em) and (min-width: 42em) {
    .page-header {
        padding: 5rem 4rem;
    }
}

@media screen and (max-width: 42em) {
    .page-header {
        padding: 5rem 1rem;
        background-size: 110%;
    }
}

.main-content h1, 
.main-content h2,
.main-content h3, 
.main-content h4,
.main-content h5,
.main-content h6 {
    color: hsl(36, 92%, 62%);
}

.main-content {
    padding: 0;
    max-width: unset;
}

.site-footer {
    display: none;
}

#reports-container {
     text-align: center;
}
